@font-face {
    font-family: Roboto;
    src: url("./assets/fonts/Roboto-Regular.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    color: #3c1f00;
}

header, footer {
    background-color: #dda949;
    position: fixed;
    width: 100%;
}

header {
    top: 0;
    display: flex;
    justify-content: center;
}

main {
    margin: 60px 0;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
}

.section-title {
    text-align: center;
    letter-spacing: 2px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    width: 50%;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.contact-list {
    list-style: none;
    padding: 0;
}

.languages-list {
    list-style: none;
    padding: 0;
}

.skills-list {
    padding: 0 24px;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: 0.3s;
    color: #3c1f00;
}

.nav-link:hover {
    color: #fff;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 4px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

section {
    background-color: rgba(60, 31, 0, 0.24);
    border-radius: 22px;
    margin: 8px 0;
    padding: 12px 24px;
}

.cv-photo {
    border-radius: 50%;
}

@media screen and (max-width: 820px) {
    .nav-link {
        font-size: 12px;
    }
}